1. Write a Python program to convert kilometers to miles?
2. Write a Python program to convert Celsius to Fahrenheit?
3. Write a Python program to display calendar?
4. Write a Python program to solve quadratic equation?
5. Write a Python program to swap two variables without temp variable?

#### 1.Write a Python program to convert kilometers to miles?

In [11]:
km = input("Enter the kilometers: ")
if type(km) == str:
    miles = float(km) * 0.6237
    print("Miles: ",miles)
else:
    miles = int(km)* 0.6237
    print("Miles: ",miles)

Enter the kilometers: 100
Miles:  62.370000000000005

#### 2.Write a Python program to convert Celsius to Fahrenheit?

In [12]:
c = input("Enter the temperature in Celsius: ")
if type(c) == str:
    f = ((float(c))*(9/5)) + 32
    print("Fahrenheit is: ",f)
else:
    f = ((int(c))*(9/5)) + 32
    print("Fahrenheit is: ",f)

Enter the temperature in Celsius: 36.8
Fahrenheit is:  98.24

#### 3.Write a Python program to display calendar?

In [1]:
import calendar as cl

year = int(input("Enter the Year in yyyy: "))

next = input("To display the particular month type yes otherwise type no: ")

if next == "yes":
    Month = int(input("Enter the month in mm: "))
    print(cl.month(year,Month))

else:
    print(cl.calendar(year))

Enter the Year in yyyy: 2022
To display the particular month type yes otherwise type no: no
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

#### 4.Write a Python program to solve quadratic equation?

In [1]:
def equation(a, b, c):
    import cmath as mt
    d = -b + mt.sqrt((b ** 2) - (4 * a * c))  / 2 * a
    e = -b - mt.sqrt((b ** 2) - (4 * a * c)) / 2 * a
    return d, e


d= equation(9,10,0)
print(d)

((35+0j), (-55+0j))

#### 5.Write a Python program to swap two variables without temp variable?

In [3]:
x = 4
y = 5
print("Before Swap: ", "x=", x, "y=", y)
x, y = y, x
print("After Swap: ", "x=", x, "y=", y)

Before Swap:  x= 4 y= 5
After Swap:  x= 5 y= 4